.grid-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;
}

.product-table {
  width: 95%;
}

.product-header {
  display: flex;
  justify-content: space-between;
}

.product-title {
  display: flex;
  align-items: center;
  width: 80%;
}

table {
  width: 100%;
  /* border: 1px solid black; */
  text-align: center;
}

th {
  /* border: 1px solid black; */
}

td {
  width: 25%;
  /* border: 1px solid black; */
}
