.grid-container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 1rem;
}

table {
  width: 90%;
  border: 1px solid black;
  text-align: center;
}

th {
  border: 1px solid black;
}

td {
  border: 1px solid black;
}
