.grid-container {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 1rem;
  }
  
  table {
    width: 95%;
    border: none;
    text-align: center;
    margin:0% 10% 0% 10%
  }
  
   th {
    border: none;
    border-bottom: 3px solid black;
  }
  
   td {
    border: none;
    border-bottom: 1px solid black;
  }
  
  .products_content p{
    font-size: 12px;
    margin:2% 
  }
  /* .btn{
    max-width: 60px;
    max-height: 25px;
    padding: 3%;
    font-size: 12px;
  } */