.first_image {
    text-align: center;
    background-image: url("../../img/portadaGuitarra.jpg");
    width: 100%;
    height: 1000px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }