.logo {
  margin-right: 5.5rem;
  margin-left: 0.5rem;
}

.navItem {
  margin-right: 0.75rem;
}

.cartNavBar {
  margin-right: 5.5rem;
}

.shopping-cart-button {
  margin-right: 1rem;
}

.personalized-navbar-style {
  position: fixed;
  width: 100%;
}
.logotype-Invert{
  max-width: 2%;
  filter: invert(100%);
}