.container {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0;
  transform: translate(-50%, -50%);
  width: 30%;
  height: 35%;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: space-around;
  border: 1px solid black;
}

.headerPage {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
